<%= link_to [:admin, :products] do%>
  <div class="alert alert-success" role="alert">
  <h4>Number of products: <%= @products.length() %></h4>
  </div>

<% end%>

<%= link_to [:admin, :products] do%>
  <div class="alert alert-success" role="alert">
  <h4>Number of categories: <%= @categories.length() %></h4>
  </div>

<% end%>
